.action-buttons{
    margin-left: 50px;
    cursor: pointer;
}

.avatar {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    vertical-align: middle;
    margin: 0 5px 5px 0;
}

.info-text {
    display: inline-block;
    text-transform: uppercase;
}

.birth-date{
    margin-left: 68px;
}

.include-inactive {
    margin: 0 15px;
}
