.footer{
    padding: 10px;
    color: grey;
    text-align: center;
    background-color: #2b3544;
    p{
        margin: 10px 0;
    }

    .link-page{
        color: #a0a7b1;
        :visited{
            color: #a0a7b1;
        }
    }
}